<% include partials/header %>
    <style media="screen">
      section {
        min-height: 100% !important;
        background-color: #678c8f !important;
        color: white !important;
        margin: 0 !important;
      }
    </style>

    <section class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="text-center title">
            <h2>Login realizado com sucesso!</h2>
            <div class="">
              <a href="/sair" class="btn btn-danger">Sair</a>
            </div>
          </div>


        </div>

      </div> <!-- container -->
    </section>
<% include partials/footer %>
